<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="TestNG">
        <classes>
            <class name="com.Test.testing.restAssured.TestPostMethods">
                <methods>
                    <include name="testAuthentication"/>
                    <include name="testFileUpload"/>
                    <include name="testCustomFilters"/>
                </methods>
            </class>
            <class name="com.Test.testing.restAssured.TestRestAssuredGetTesting">
                <methods>
                    <include name="testGet"/>
                </methods>
            </class>
            <class name="com.Test.testing.restAssured.TestRestAssuredSomeMoreFeatures">
                <methods>
                    <include name="testAddUser"/>
                    <include name="testUpdateUser"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>
            <class name="com.Test.testing.restAssured.TestStaticImplementation">
                <methods>
                    <include name="testGetWithInstanceImplementation"/>
                    <include name="testGetCheckId"/>
                    <include name="testGetUserById"/>
                    <include name="testWithCustomLogging"/>
                    <include name="testResponseTime"/>
                </methods>
            </class>
            <class name="com.Test.testing.testngLearning.demo2Testing">
                <methods>
                    <include name="testMethod1"/>
                    <include name="testMethod2"/>
                </methods>
            </class>
            <class name="com.Test.testing.testngLearning.demoTesting">
                <methods>
                    <include name="test"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="test4"/>
                    <include name="test5"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
